.memory-monitor{
    border:1px solid #000;
}

.options-buttons{
    margin-top: 1rem;
}

.options-buttons button{
    margin-left: 2rem;
}

#alert{
    margin-top: 1rem;
}

.cblog-table-container{
    margin-top: 2rem;
}