.memory-monitor{
    border:1px solid #000;
}

.options-buttons{
    margin-top: 1rem;
}

.options-buttons button{
    margin-left: 2rem;
}

#alert{
    margin-top: 1rem;
}

.cblog-table-container{
    margin-top: 2rem;
}

.analisis-btn{
    margin-top: 1rem;
}

.analysis-container{
    padding: 1rem;
}

.input-daterange{
    display: flex;
    justify-content: center;
}

.input-daterange div{
    margin: 2rem;
}

.circular-grafics{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}